body {
  box-sizing: border-box;
}

#display {
  background-color: black;
  color: white;
  text-align: right;
  font-size: 30px;
  width: 400px;
}

.button-row {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.button {
  font-size: 30px;
  width: 25%;
}

.big-button {
  font-size: 30px;
  width: 50%;
}